{% extends 'base.html' %}
{% load i18n %}

{% block title %}Смена пароля{% endblock %}

{% block menu %}
    <li><a href="{% url "accounts:detail" request.user.pk %}">Назад</a></li>
    <li><a href="{% url "accounts:change" request.user.pk %}">Редактирование личных данных</a></li>
{% endblock %}

{% block content %}
    <h1>Смена пароля</h1>
    {% url "accounts:password_change" as action_url %}
    {% trans 'Добавить' as button_text %}
    {% include 'partial/bootstrap_form.html' with form_method='post' action_url=action_url button_text=button_text enctype="multipart/form-data" %}
{#    {% include 'partial/bootstrap_form.html' with action_url=action_url form_method="post" %}#}
{% endblock %}
