{% extends 'base.html' %}

{% block content %}
    <h1>Пользователи:</h1>
    {% if request.user %}
{#                        <li class="nav-item"><a class="nav-link" href="{% url 'accounts:change' user_obj.pk %}">Редактировать</a>#}
{#                        </li>#}
{#                        <li class="nav-item"><a class="nav-link" href="{% url "accounts:password_change" %}">Смена#}
{#                            пароля</a></li>#}
                    {% endif %}
    {% for user in users %}
        <div class="box">
            <p>{{ user.user.first_name }} {{ user.user.last_name }}
                <a class="btn btn-secondary btn-sm" href="{% url "accounts:detail" user.pk %}" role="button">Профиль</a></p>
        </div>
    {% endfor %}
    {% if is_paginated %}
        {% include 'partial/pagination.html' %}
    {% endif %}
{% endblock %}