{% extends 'base.html' %}
{% load i18n %}
{% load static %}

{% block title %}Пользователь{% endblock %}

{% block menu %}
    {% if request.user == user_obj %}
        <li class="nav-item"><a class="nav-link" href="{% url 'accounts:change' user_obj.pk %}">Редактировать</a></li>
        <<li class="nav-item"><a class="nav-link" href="{% url "accounts:password_change" %}">Смена пароля</a></li>
    {% endif %}
{% endblock %}

{% block content %}
     <h4 class="mb-4 mt-5" align="center"><b>{% trans 'Профиль ' %}</b></h4>
    <div class="box">
  <div class="row no-gutters">
    <div>

    {% if user_obj.profile.avatar %}
    <img src="{{ user_obj.profile.avatar.url }}" width="auto" height="200" alt="guest_img" align="left" vspace="5" hspace="10">
        {% else %}
        <img src="{% static "img/NoAvatar.png" %}" width="160" height="200" alt="guest_img" align="left" vspace="5" hspace="10" alt="quest_img">
        {% endif %}
    </div>
    <div class="ml-5 mr-5 w-75 p-3" style="word-wrap:break-word;">
        <p class="card-text" ><b>{% trans 'Имя пользователя: ' %}</b>{{ user_obj.username }}</p>
        <p class="card-text"><b>{% trans 'Имя: ' %}</b>{{ user_obj.first_name }}</p>
        <p class="card-text"><b>{% trans 'Фамилия: ' %}</b>{{ user_obj.last_name }}</p>
        <p class="card-text"><b>{% trans 'Дата рождения: ' %}</b> {{ user_obj.profile.birth_date|date:'d.m.Y' }}</p>
        <p class="card-text"><b>{% trans 'Почта: ' %}</b>{{ user_obj.email }}</p>
      </div>
    </div>
  </div>
{% endblock %}
