{% extends 'base.html' %}
{% load static %}
{% load i18n %}
{% block title %}
{% trans 'Сообщения' %}
{% endblock %}
{% block styles %}
{% endblock %}
{% block menu %}
{% endblock %}
{% block content %}
    {% load i18n %}
<h3 class="mb-5 mt-4" align="center">
   <b>{% trans 'Исходящии' %}</b>
</h3>
    <table class="table">
  <thead>
    <tr>
        <th scope="col">Получатель</th>
        <th scope="col">Просморт</th>
        <th scope="col">Время</th>
    </tr>
  </thead>
{% for message in messages %}
  <tbody>
    <tr>
        <th scope="row"><a href="{% url 'accounts:detail' message.recipient.pk %}">{{ message.recipient }}</a></th>
        <th><a href="{% url 'webapp:message_detail' message.pk %}">
                <button type="button" class="btn btn-danger ml-3"> {% trans 'Просмотр'%}</button></a></th>
        <th scope="row" >{{ message.created_at}}</th>
            </tr>
  </tbody>

{% endfor %}
</table>
        {% include 'partial/pagination.html' %}
{% endblock %}